<% layout("/layouts/boilerplate") %>
<body>
  
   <div class="row">
      <div class="col-8 offset-2">
         <br>
         <h2>Create New Listing</h2>
   <form method="POST"action="/listings" novalidate class="needs-validation">
      <div class="mb-3">
         <label for="title" class="form-label">Title</label>
         <input name="listing[title]" placeholder="enter title" class="form-control" required>
         <div class="valid-feedback"> title looks good!</div>
         <div class="invalid-feedback">enter valid title</div>
      </div>
  
    <div  class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
      <div class="valid-feedback"> description looks good!</div>
         <div class="invalid-feedback">enter valid description</div>
    </div>
    
   
   

    <div class="mb-3">
       <label for="image" class="form-label">Image URL</label>
      <input name="listing[image]" placeholder="enter image URL"  class="form-control">
      
    </div>
    <div class="row">
      <div class="mb-3 col-md-4">
         <label for="price" class="form-label">Price</label>
         <input name="listing[price]" placeholder="enter price" type="number"  class="form-control" required>
         <div class="valid-feedback"> price looks good!</div>
         <div class="invalid-feedback">enter valid price</div>
       </div>
       
      <div  class="mb-3 col-md-8">
         <label for="country" class="form-label">Country</label>
         <input name="listing[country]" placeholder="enter country"  class="form-control" required>
         <div class="valid-feedback"> country looks good!</div>
         <div class="invalid-feedback">enter valid country</div>
       </div>
    </div>
   
  

    <div class="mb-3">
      <label for="location" class="form-label">Location</label>
      <input name="listing[location]" placeholder="enter location"  class="form-control" required>
      <div class="valid-feedback"> location looks good!</div>
      <div class="invalid-feedback">enter valid location</div>
    </div>
   
 
  
    <br>
    <button class="btn btn-dark">Add Listing</button>
    <br> <br>
   </form> 
</div>
</div>
</body>
